<div class="cmp-cinemas">
  <div *ngIf="!filmSlug" class="cmp-cinemas__contents">
    <div class="cmp-cinemas__title">Find a movie</div>
    <div class="cmp-cinemas__sub-title">Select Theater</div>
    <ul class="cmp-cinemas__cinema-btns list-unstyled">
      <li *ngFor="let cinema of cinemas">
        <a
          routerLink="/{{ cityId }}/{{ cinema.id }}"
          class="btn w-100 text-uppercase text-nowrap fw-bold"
          [ngClass]="{
            'btn-primary': cinemaId === cinema.id,
            'btn-outline-dark': cinemaId !== cinema.id
          }"
        >
          {{ cinema.name }}
        </a>
      </li>
    </ul>
    <div *ngIf="cinemaId">
      <div class="cmp-cinemas__sub-title">
        Films playing at
        <span class="fw-bold">{{ getCinemaNameById(cinemaId) }}</span>
      </div>
      <ul class="list-unstyled">
        <li
          class="cmp-cinemas__film-item"
          *ngFor="let filmItem of getFilmsByCinemaId(cinemaId)"
        >
          <a routerLink="/{{ cityId }}/{{ cinemaId }}/{{ filmItem.filmSlug }}">
            {{ filmItem.filmName }}
          </a>
          <img src="/assets/svg/cart.png" alt="Cart" />
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="filmSlug" class="cmp-cinemas__contents">
    <div class="cmp-cinemas__title">Find a show time</div>
    <div class="cmp-cinemas__sub-title">
      Choose a time for
      <span class="fw-bold">{{ getFilmNameByFilmSlug(filmSlug) }}</span>
      at
      <span class="fw-bold">{{ getCinemaNameById(cinemaId) }}</span>
    </div>
    <ul class="list-unstyled">
      <li
        class="cmp-cinemas__film-item"
        *ngFor="
          let sessionItem of getSessionByCinemaIdFilmSlug(cinemaId, filmSlug)
        "
      >
        {{ sessionItem.showTimeClt }}
      </li>
    </ul>
  </div>
</div>
