<div class="cmp-cinemas">
  <div class="cmp-cinemas__contents">
    <div class="cmp-cinemas__title">Find a movie</div>
    <div class="cmp-cinemas__sub-title">Select Theater</div>
    <ul class="cmp-cinemas__cinema-btns list-unstyled">
      <li *ngFor="let cinema of cinemas">
        <a
          routerLink="/{{ cityId }}/{{ cinema.id }}"
          class="btn w-100 text-uppercase text-nowrap fw-bold"
          [ngClass]="{
            'btn-primary': cinemaId === cinema.id,
            'btn-outline-dark': cinemaId !== cinema.id
          }"
        >
          {{ cinema.name }}
        </a>
      </li>
    </ul>
    <div *ngIf="cinemaId">Content to render when condition is true.</div>
  </div>
</div>
