<div class="cmp-cinemas">
  <div *ngIf="!filmSlug" class="cmp-cinemas__contents">
    <div class="cmp-cinemas__title">Find a movie</div>
    <div class="cmp-cinemas__sub-title">Select Theater</div>
    <ul class="cmp-cinemas__cinema-btns list-unstyled">
      <li
        *ngFor="let cinema of cinemas"
        [ngClass]="{
          'cinema-selected': cinemaId === cinema.id
        }"
      >
        <a routerLink="/{{ cityId }}/{{ cinema.id }}">
          {{ cinema.name }}
        </a>
      </li>
    </ul>
    <div *ngIf="cinemaId">
      <div class="cmp-cinemas__sub-title">
        Films playing at
        <span class="fw-bold">{{ getCinemaNameById(cinemaId) }}</span>
      </div>
      <ul class="list-unstyled">
        <li
          class="cmp-cinemas__film-item"
          *ngFor="let filmItem of getFilmsByCinemaId(cinemaId)"
        >
          <a routerLink="/{{ cityId }}/{{ cinemaId }}/{{ filmItem.filmSlug }}">
            {{ filmItem.filmName }}
          </a>
          <img src="/assets/svg/cart.png" alt="Cart" />
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="filmSlug" class="cmp-cinemas__contents">
    <div class="cmp-cinemas__title">Find a show time</div>
    <div class="cmp-cinemas__sub-title">
      Choose a time for
      <span class="fw-bold">{{ getFilmNameByFilmSlug(filmSlug) }}</span>
      at
      <span class="fw-bold">{{ getCinemaNameById(cinemaId) }}</span>
    </div>
    <img
      *ngIf="getFilmImageByFilmSlug(filmSlug)"
      src="{{ getFilmImageByFilmSlug(filmSlug) }}"
      width="100%"
      height="100%"
    />
    <ul class="list-unstyled">
      <li
        class="cmp-show-item"
        *ngFor="
          let showTimeInfo of getSessionByCinemaIdFilmSlug(cinemaId, filmSlug)
        "
      >
        <div class="fw-bold text-center">
          {{ showTimeInfo.businessDateClt }}
        </div>
        <hr />
        <ul class="list-unstyled mb-5">
          <li *ngFor="let showItem of showTimeInfo.data" class="mb-3">
            <span class="fw-bold">Screen Number:</span>
            {{ showItem.screenNumber }} <span class="fw-bold">at</span>
            {{ showItem.showTimeClt.split("T")[1] }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
